@import "variables";

a {
  color: @ac;
}

div[name=Center] {
  margin-top: -50px;
}

.column-ThreadList, .column-MessageListSidebar {
  padding-top: 50px;
}

.scrollbar-track {
  width: 10px;
  background: none;
  border: none;
}

.scrollbar-track .scrollbar-handle {
  background: none;
}
